.avatar_overlay {
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}
.avatar_overlay:hover{
    z-index: 2;
    background: url(../../../images/avatar_edit.svg);
    
}
