.cards__remove-button{
    background-image: url(../../../images/trash_button.svg);
    position: absolute;
    top: 19px;
    right: 11px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 21px;
    height: 20px;
    
    transition: opacity .25s ease-in-out;
}