.footer{
    padding-top: 70px;
    padding-bottom: 60px;
    margin: 0 auto;
    max-width: 882px;
    display: flex;
}

@media screen and (max-width: 640px) {
    .footer{
        max-width: 282px;
        padding: 48px 19px 36px 19px;
    }   
    
}
