
/* vendor */
@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
/* body */
@import url(./blocks/body/body.css);
/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
/* profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/avatar/avatar.css);
/* @import url(../blocks/avatar/_overlay/avatar_overlay.css); */
@import url(./blocks/profile/__item/profile__item.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__items/profile__items.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__title-inline/profile__title-inline.css);
/* cards */
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__rectangle/cards__rectangle.css);
@import url(./blocks/cards/__like-button/cards__like-button.css);
@import url(./blocks/cards/__remove-button/cards__remove-button.css);
@import url(./blocks/cards/__position/cards__position.css);
@import url(./blocks/cards/__like-button/_active/cards__like-button_active.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/cards/__like-count/cards__like-count.css);
/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);
/* popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_overlay/popup_overlay.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__input-name/popup__input-name.css);
@import url(./blocks/popup/__input-profession/popup__input-profession.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__close-image/popup__close-image.css);
@import url(./blocks/popup/_closed/popup_closed.css);
@import url(./blocks/popup/__text-row/popup__text-row.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__subtitle/popup__subtitle.css);
@import url(./blocks/popup/__text-row/_state_invalid/popup__text-row_state_invalid.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__save-button/_invalid/popup__save-button_invalid.css);
@import url(./blocks/popup/_opened/popup_opened.css);
/* special classes */
@import url(./blocks/pointer-opacity/pointer-opacity.css);


/* *, *::before, *::after{
    border:1px solid red;
} */